<template>
    <section id="app" class="col-xs-12">
        <naon-header></naon-header>
        <naon-sidebar></naon-sidebar>
        <div class="header-spacer"></div>
        <main class="container">
            <h1>LOGIN</h1>

            <form id="outer-form" class="col-xs-12">
                <input id="username" type="text" placeholder="Input Username" v-model="username">
                <input id="password" type="password" placeholder="Input Password" v-model="password">

                <div>
                    <button class="btn btn-primary" :disabled="disableSubmit" id="submit" title="Submit" value="Submit" @click.prevent="login">Submit</button>
                    <button class="btn btn-cancel" id="cancel" title="cancel" value="Cancel" @click.prevent="cancel">Cancel</button>
                </div>
                <span>{{getStatus}}</span>
            </form>
        </main>
    </section>
</template>
<script>
import axios from 'axios';

export default {
     data() {
            return {
            username: "",
            password: "",
            disableSubmit: false,
        }
    },
    components:{
        'naon-header': ()=>import('../../shared/components/header'),
        'naon-sidebar': ()=>import('../../shared/components/sidebar-left')
    },
    computed: {
        getStatus() {
            return this.$store.state.status;
        }
    },
    methods: {
        login() {
            this.disableSubmit = true;

             this.$store.dispatch("AUTH_REQUEST", {username: this.username, password: this.password}).then(() => {
                this.disableSubmit = false;
                this.$router.push({name: "mainPage"});
            }).catch(err=>{
                this.disableSubmit = false;
            })
        },
        cancel() {
            this.username = ""
            this.password = ""
        },
    }
}
</script>
<style lang="scss" scoped>
    #outer-form {
       /* border-color: black;
        border-width: 0.001em;
        border-style: solid;*/

        height: auto;

        padding: 15px 15px 15px 15px;

        input {
            background-color: #fff;
        }

        input#username {
            margin-bottom: 15px;
            
        }

        div {
            margin-top: 10px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;

            .btn {
                width: 45%;
                height: 60px;
                margin-right: 5px;
            }
        }

    }
</style>
