<template>
    <div class="main-content">
        <h1>Post Detail</h1>
        <div class="post-detail">
            <h2 v-if="errMessage !=''">{{errMessage}}</h2>
            <candorism-post v-if="result" :post="result" />
        </div>
    </div>
</template>
<script>
import getPost from './post.service';
export default {
    props:["id"],
    mounted() {
        this.executeSearch(this.id);
    },
    data() {
        return {
            result: null,
            errMessage: "",
        }
    },
    "$route": function (from, to){
        //console.log(`route change: ${decodeURIComponent(this.q)}`);
        this.executeSearch(decodeURIComponent(this.id))
    },
    methods: {
        executeSearch(id){
           getPost(id).then(result => {
               this.result = {};
               this.result["type"] = 'lostandfound' //result.postType;
               this.result["username"] = result.username;
               this.result["message"] = result.message;
               this.result["id"] = result.id;
               this.result["likes"] = result.likes || [];
               this.result["image"] = result.image;
               this.result["description"] = result.description;
               this.result["geolocation"] = result.geolocation;
           }).catch(error => {
               this.errMessage = error.response.statusText;
           }) 
        }
    }
    
}
</script>
<style lang="scss" scoped>
    .main-content {
        .post-detail {
            padding-top: 20px;
        }
    }
</style>


