<template>
  <div class="row">
        <main class="col-xl-12 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-xs-12">
            <candorism-post-form @messagePostedEvent="postedEvent"></candorism-post-form>
            <div id="newsfeed-items-grid col-xs-12">
                <candorism-post v-for="post in posts" :post="post" :key="post.id"></candorism-post>
            </div>
            <a id="load-more-button" @click.prevent="loadPost(page + 1)" class="btn btn-control btn-more" data-load-link="items-to-load.html" data-container="newsfeed-items-grid"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg></a>
        </main>
   </div>
</template>
<script>
import axios from 'axios';
import {bus}    from '../../main';

export default {
    created() {
        this.loadPost(this.page);
    },
    data: function() {
        return {
            posts: [],
            page: 1,
        }
    },
    methods: {
        loadPost(page) {
            axios.get(`/post/getpost/${page}`)
                 .then((resp)=> {
                     console.log(resp.data);
                     for(let post of resp.data){
                         this.posts.push({
                             type: post.postType,
                             username: post.username,
                             message: post.message,
                             id: post.id,
                             likes: post.likes,
                             image: post.image,
                             description: post.description,
                             geolocation: post.geolocation
                         }) 
                     }
                 })
                 .catch(err => { 
                     if (err.response.status === 401){
                       this.logout();
                     }
                 })
        },
        postedEvent(e){
            console.log(e);

            this.posts.unshift({
                type: e.postType,
                username: e.username,
                message: e.message,
                id: e.id,
                likes: {count: 0},
                image: e.image,
                description: e.description,
                geolocation: {
                    latitude: e.geolocation.latitude,
                    longitude: e.geolocation.longitude
                }
            }) 
                     
        },
        logout() {
            bus.$emit("logout");
        }
    }
}
</script>
<style lang="sass" scoped>

</style>

