<template>
  <div  class="fixed-sidebar fixed-sidebar-responsive">
        <div class="fixed-sidebar-left sidebar--small" id="sidebar-left-responsive">
            <a href="#" class="logo js-sidebar-open-responsive">
                <img src="img/logo.png" alt="Olympus">
            </a>
        </div>
        <div class="fixed-sidebar-left sidebar--large" id="sidebar-left-1-responsive">
            <a href="#" class="logo">
                <div class="img-wrap">
                    <img src="img/logo.png" alt="Olympus">
                </div>
                <div class="title-block">
                    <h6 class="logo-title">olympus</h6>
                </div>
            </a>
            <div class="mCustomScrollbar" data-mcs-theme="dark">
                <div class="control-block">
                    <div class="author-page author vcard inline-items">
                        <div class="author-thumb">
                            <img alt="author" src="img/author-page.jpg" class="avatar">
                            <span class="icon-status online"></span>
                        </div>
                        <a href="02-ProfilePage.html" class="author-name fn">
                            <div class="author-title">
                                James Spiegel <svg class="olymp-dropdown-arrow-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-dropdown-arrow-icon"></use></svg>
                            </div>
                            <span class="author-subtitle">SPACE COWBOY</span>
                        </a>
                    </div>
                </div>
                <div class="ui-block-title ui-block-title-small">
                    <h6 class="title">MAIN SECTIONS</h6>
                </div>
                <ul class="left-menu">
                    <li>
                        <a href="#" class="js-sidebar-open-responsive">
                            <svg class="olymp-close-icon left-menu-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-close-icon"></use></svg>
                            <span class="left-menu-title">Collapse Menu</span>
                        </a>
                    </li>
                    <li>
                        <a href="mobile-index.html">
                            <svg class="olymp-newsfeed-icon left-menu-icon" data-toggle="tooltip" data-placement="right" data-original-title="NEWSFEED"><use xlink:href="svg-icons/sprites/icons.svg#olymp-newsfeed-icon"></use></svg>
                            <span class="left-menu-title">Newsfeed</span>
                        </a>
                    </li>
                    <li>
                        <a href="Mobile-28-YourAccount-PersonalInformation.html">
                            <svg class="olymp-star-icon left-menu-icon" data-toggle="tooltip" data-placement="right" data-original-title="FAV PAGE"><use xlink:href="svg-icons/sprites/icons.svg#olymp-star-icon"></use></svg>
                            <span class="left-menu-title">Fav Pages Feed</span>
                        </a>
                    </li>
                    <li>
                        <a href="mobile-29-YourAccount-AccountSettings.html">
                            <svg class="olymp-happy-faces-icon left-menu-icon" data-toggle="tooltip" data-placement="right" data-original-title="FRIEND GROUPS"><use xlink:href="svg-icons/sprites/icons.svg#olymp-happy-faces-icon"></use></svg>
                            <span class="left-menu-title">Friend Groups</span>
                        </a>
                    </li>
                    <li>
                        <a href="Mobile-30-YourAccount-ChangePassword.html">
                            <svg class="olymp-headphones-icon left-menu-icon" data-toggle="tooltip" data-placement="right" data-original-title="MUSIC&PLAYLISTS"><use xlink:href="svg-icons/sprites/icons.svg#olymp-headphones-icon"></use></svg>
                            <span class="left-menu-title">Music & Playlists</span>
                        </a>
                    </li>
                    <li>
                        <a href="Mobile-31-YourAccount-HobbiesAndInterests.html">
                            <svg class="olymp-weather-icon left-menu-icon" data-toggle="tooltip" data-placement="right" data-original-title="WEATHER APP"><use xlink:href="svg-icons/sprites/icons.svg#olymp-weather-icon"></use></svg>
                            <span class="left-menu-title">Weather App</span>
                        </a>
                    </li>
                    <li>
                        <a href="Mobile-32-YourAccount-EducationAndEmployement.html">
                            <svg class="olymp-calendar-icon left-menu-icon" data-toggle="tooltip" data-placement="right" data-original-title="CALENDAR AND EVENTS"><use xlink:href="svg-icons/sprites/icons.svg#olymp-calendar-icon"></use></svg>
                            <span class="left-menu-title">Calendar and Events</span>
                        </a>
                    </li>
                    <li>
                        <a href="Mobile-33-YourAccount-Notifications.html">
                            <svg class="olymp-badge-icon left-menu-icon" data-toggle="tooltip" data-placement="right" data-original-title="Community Badges"><use xlink:href="svg-icons/sprites/icons.svg#olymp-badge-icon"></use></svg>
                            <span class="left-menu-title">Community Badges</span>
                        </a>
                    </li>
                    <li>
                        <a href="Mobile-34-YourAccount-ChatMessages.html">
                            <svg class="olymp-cupcake-icon left-menu-icon" data-toggle="tooltip" data-placement="right" data-original-title="Friends Birthdays"><use xlink:href="svg-icons/sprites/icons.svg#olymp-cupcake-icon"></use></svg>
                            <span class="left-menu-title">Friends Birthdays</span>
                        </a>
                    </li>
                    <li>
                        <a href="Mobile-35-YourAccount-FriendsRequests.html">
                            <svg class="olymp-stats-icon left-menu-icon" data-toggle="tooltip" data-placement="right" data-original-title="Account Stats"><use xlink:href="svg-icons/sprites/icons.svg#olymp-stats-icon"></use></svg>
                            <span class="left-menu-title">Account Stats</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <svg class="olymp-manage-widgets-icon left-menu-icon" data-toggle="tooltip" data-placement="right" data-original-title="Manage Widgets"><use xlink:href="svg-icons/sprites/icons.svg#olymp-manage-widgets-icon"></use></svg>
                            <span class="left-menu-title">Manage Widgets</span>
                        </a>
                    </li>
                </ul>
                <div class="ui-block-title ui-block-title-small">
                    <h6 class="title">YOUR ACCOUNT</h6>
                </div>
                <ul class="account-settings">
                    <li>
                        <a href="#">
                            <svg class="olymp-menu-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-menu-icon"></use></svg>
                            <span>Profile Settings</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <svg class="olymp-star-icon left-menu-icon" data-toggle="tooltip" data-placement="right" data-original-title="FAV PAGE"><use xlink:href="svg-icons/sprites/icons.svg#olymp-star-icon"></use></svg>
                            <span>Create Fav Page</span>
                        </a>
                    </li>
                    <li>
                        <a @click.prevent="logout" href="#">
                            <svg class="olymp-logout-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-logout-icon"></use></svg>
                            <span>Log Out</span>
                        </a>
                    </li>
                </ul>
                <div class="ui-block-title ui-block-title-small">
                    <h6 class="title">About Olympus</h6>
                </div>
                <ul class="about-olympus">
                    <li>
                        <a href="#">
                            <span>Terms and Conditions</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>FAQs</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Careers</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Contact</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>
<script>
import Vue from "vue";
import {bus} from "../../main";

export default Vue.extend({
  methods: {
      init: function() {
        var $window = $(window),
            $document = $(document),
            $body = $('body'),
            $sidebar = $('.fixed-sidebar');

            $(".js-sidebar-open-responsive").on('click', function () {
                var mobileWidthApp = $('body').outerWidth();
                if(mobileWidthApp <= 560) {
                    $(this).closest('body').find('.popup-chat-responsive').removeClass('open-chat');
                }

                $(this).toggleClass('active');
                $(this).closest($sidebar).toggleClass('open');
                return false;
            } );

            // Close on "Esc" click
            $window.keydown(function (eventObject) {
                if (eventObject.which == 27 && $sidebar.is(':visible')) {
                    $sidebar.removeClass('open');
                }
            });

            // Close on click outside elements.
            $document.on('click', function (event) {
                if (!$(event.target).closest($sidebar).length && $sidebar.is(':visible')) {
                    $sidebar.removeClass('open');
                }
            });
      },
      logout: function() {
          bus.$emit("logout");
      }

  },
  mounted: function(){
      this.init();
  },
})
</script>
<style lang="scss">
    .mCustomScrollbar {
        overflow-y: auto !important;
    }
</style>
