<template>
    <div class="missing-item-container">
        <div class="message">
            {{post.description}}
        </div>
        <div class="image-container">
            <div class="image">
                <img width="300" height="150" 
                :src="post.image" 
                data-toggle="modal" 
                data-target="#view-photo"
                @click.prevent="loadImage(post)"
            />
            </div>
        </div>
    </div>
</template>
<script>
import {bus} from '../../../main';
export default {
    props:["post"],
    data: function(){
        return {
            apikey:""
        }
    },
    beforeMount: function() {
        this.apikey=process.env.VUE_APP_API_KEY;
    },
    methods: {
        loadImage(post){
            bus.$emit("loadImage",post);
        },
    }
}
</script>
<style lang="scss" scoped>
    .missing-item-container {
       .image-container {
           display: flex;
           justify-content: center;
           flex-wrap: wrap;
           margin-top: 30px;
           margin-bottom: 30px;

           .image {
               max-width: 100px;
               max-height: 150px;

                margin-left: 10px;
                margin-right: 10px;
                cursor: pointer;

               img {
                   border-radius: 10px;
               }
           }

           .map-location {
               max-width: 100px;
               max-height: 150px;

               iframe {
                    max-width: 100px;
               max-height: 150px;

               }
           }
       }
    }
</style>

