<template>
    <div class="ui-block">
        <div class="news-feed-form">
            
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active inline-items" data-toggle="tab" href="#home-1" role="tab" aria-expanded="true">

                        <svg class="olymp-status-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-status-icon"></use></svg>

                        <span>Status</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link inline-items" data-toggle="tab" href="#lostfound" role="tab" aria-expanded="false">

                        <svg class="olymp-multimedia-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-multimedia-icon"></use></svg>

                        <span>Lost and found</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link inline-items" data-toggle="tab" href="#blog" role="tab" aria-expanded="false">
                        <svg class="olymp-blog-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-blog-icon"></use></svg>

                        <span>Blog Post</span>
                    </a>
                </li>
            </ul>

            
            <div class="tab-content">
                <div class="tab-pane active" id="home-1" role="tabpanel" aria-expanded="true">
                    <form>
                        <div class="author-thumb">
                            <img src="img/author-page.jpg" alt="author">
                        </div>
                        <div class="form-group with-icon label-floating is-empty">
                            <textarea class="form-control" v-model="message" placeholder="Share what you are thinking here..."></textarea>
                        </div>
                        <div class="add-options-message">
                            <a href="#" class="options-message" data-toggle="tooltip" data-placement="top" data-original-title="ADD PHOTOS">
                                <svg class="olymp-camera-icon" data-toggle="modal" data-target="#update-header-photo"><use xlink:href="svg-icons/sprites/icons.svg#olymp-camera-icon"></use></svg>
                            </a>
                            <a href="#" class="options-message" data-toggle="tooltip" data-placement="top" data-original-title="TAG YOUR FRIENDS">
                                <svg class="olymp-computer-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-computer-icon"></use></svg>
                            </a>

                            <a href="#" class="options-message" data-toggle="tooltip" data-placement="top" data-original-title="ADD LOCATION">
                                <svg class="olymp-small-pin-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-small-pin-icon"></use></svg>
                            </a>

                            <button @click.prevent="submitStatus('status')" class="btn btn-primary btn-md-2">Post Status</button>
                            <button class="btn btn-md-2 btn-border-think btn-transparent c-grey">Preview</button>

                        </div>

                    </form>
                </div>

                <div class="tab-pane" id="lostfound" role="tabpanel" aria-expanded="true">
                    <form>
                        <div class="author-thumb">
                            <img src="img/author-page.jpg" alt="author">
                        </div>
                        <div class="form-group with-icon label-floating is-empty">
                            <div class="file-input">
                                <input type="file" class="form-control no-border" accept="image/*" @change="fileLoaded"/>
                            </div>
                            <div id="location-details">
                                <a @click.prevent="getLocation" class="options-message" data-toggle="tooltip" data-placement="top" data-original-title="ADD LOCATION">
                                    <svg class="olymp-small-pin-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-small-pin-icon"></use></svg>
                                </a>
                                <span>{{ geolocation }}</span>
                            </div>
                            <div v-if="displayImage.length > 0" class="image">
                                <img :src="displayImage" />
                            </div>
                        </div>
                        
                        <div class="add-options-message">
                            <button :disabled="disableButton" class="btn btn-primary btn-md-2" @click.prevent="submitStatus('lostandfound')">Post Lost and found</button>
                            <button class="btn btn-md-2 btn-border-think btn-transparent c-grey">Preview</button>

                        </div>

                    </form>
                </div>

                <div class="tab-pane" id="blog" role="tabpanel" aria-expanded="true">
                    <form>
                        <div class="author-thumb">
                            <img src="img/author-page.jpg" alt="author">
                        </div>
                        <div class="form-group with-icon label-floating is-empty">
                            <textarea class="form-control" placeholder="Share what you are thinking here..."></textarea>
                        </div>
                        <div class="add-options-message">
                            <a href="#" class="options-message" data-toggle="tooltip" data-placement="top" data-original-title="ADD PHOTOS">
                                <svg class="olymp-camera-icon" data-toggle="modal" data-target="#update-header-photo"><use xlink:href="svg-icons/sprites/icons.svg#olymp-camera-icon"></use></svg>
                            </a>
                            <a href="#" class="options-message" data-toggle="tooltip" data-placement="top" data-original-title="TAG YOUR FRIENDS">
                                <svg class="olymp-computer-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-computer-icon"></use></svg>
                            </a>

                            <a @click.prevent="getLocation" class="options-message" data-toggle="tooltip" data-placement="top" data-original-title="ADD LOCATION">
                                <svg class="olymp-small-pin-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-small-pin-icon"></use></svg>
                            </a>
                            <span id="location">{{geolocation}}</span>

                            <button class="btn btn-primary btn-md-2">Post Status</button>
                            <button class="btn btn-md-2 btn-border-think btn-transparent c-grey">Preview</button>

                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import {bus} from '../../../main';
import imageResizer  from '../services/imageResizer';
import postMessage from '../services/postMessage';

export default {
    data: function() {
        return {
            message: "",
            geolocation: "",
            image: {
                imageFile:"",
                extension:"",
            },
            displayImage:"",
            disableButton: false,
        }
    },
    methods: {
        submitStatus(typePosting) {
            this.disableButton = true;
           postMessage({
                message: this.message, 
                postType: typePosting,
                image: this.image,
                geolocation: { 
                    latitude: this.geolocation.split(' ')[0],
                    longitude: this.geolocation.split(' ')[1]
                }
           })
        .then((resp) => {
             this.message = "";
             this.geolocation = "",
             this.image = {
                 imageFile:"",
                 extension:"",
             }
             this.displayImage="";
             this.$emit("messagePostedEvent",resp.data);
             this.disableButton= false;
         })
         .catch(err =>{ 
             if (err.response.status == 401)
               bus.$emit("logout");

            this.disableButton = false;
          })
        },
        getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(position => {
                    this.geolocation = position.coords.latitude + " " + position.coords.longitude;
                })
            }
        },
        fileLoaded(event){
            let filename = event.target.files[0].name;
            this.image.extension = filename.split('.')[1];
            
            imageResizer(URL.createObjectURL(event.target.files[0]),(base64File) => {
                this.displayImage = base64File;
                this.image.imageFile = base64File.split(';')[1].split(',')[1];
            });
        
        }
    }
}
</script>
<style lang="scss" scoped>
    @import "../../../css/common-styles/shared";

    #lostfound {
        .form-group {
            display: flex;
            flex-direction: column;
            padding-left: 10px;
            .file-input {
              
                input[type=file]{
                    opacity: 1;
                }
            }
            .image {
                margin-top: 10px;
                padding-left: 70px;

                width: 300px;
                height: 150px;

                img {
                    border-radius: 10px;
                    max-height: 150px;
                    max-width: 300px;
                }
            }
        }
        #location-details {
            padding-left: 70px;
            padding-top: 10px;
            padding-bottom: 10px;
           display: flex;
           flex-direction: row;
           flex-wrap: wrap;

            a.options-message {
                 position: relative;
               svg {
                   margin-right: 0px;
                  
               }
            }
            span {
                margin-left:100px;
                position: relative;
            }
        }
    }
</style>


