<template>
          <form class="comment-form inline-items">

            <div class="post__author author vcard inline-items">
                <img src="img/author-page.jpg" alt="author">

                <div class="form-group with-icon-right ">
                    <textarea class="form-control" v-model="message" placeholder="Post Comment"></textarea>
                    <div class="add-options-message">
                        <a href="#" class="options-message" data-toggle="modal" data-target="#update-header-photo">
                            <svg class="olymp-camera-icon">
                                <use xlink:href="svg-icons/sprites/icons.svg#olymp-camera-icon"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>

            <button @click.prevent="submitReply()" class="btn btn-md-2 btn-primary">Post Comment</button>

            <button class="btn btn-md-2 btn-border-think c-grey btn-transparent custom-color">Cancel</button>

        </form>
</template>
<script>
import axios from 'axios';
import { bus }    from '../../../main';

export default {
    props: ["postId"],
    data: function() {
        return {
            message: "",
        }
    },
    methods: {
        submitReply() {
            axios.post(`/reply`,{ post_id: this.postId, message: this.message })
                 .then((resp)=>{
                     this.message = "";
                     resp.data.author = {
                         username: "jono",
                     }
                     this.$emit("commentPostedEvent", resp.data);
                 })
                 .catch((err)=>{
                     if (err.response.status == 401)
                        bus.$emit("logout");
                 })
        }
    }
    
}
</script>
<style lang="scss" scoped>
@import "../../../css/common-styles/shared";
</style>


